[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/brunosmmm/riscv-isa-sim.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "lightweight-hw/chisel/simon"]
	path = lightweight-hw/chisel/simon
	url = https://github.com/brunosmmm/simon-chisel.git
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
[submodule "freedom"]
	path = freedom
	url = https://github.com/brunosmmm/freedom.git
