[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = git@github.com:brunosmmm/riscv-isa-sim.git
[submodule "rocc-software"]
	path = rocc-software
	url = https://github.com/IBM/rocc-software.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
